*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 100%;
    height: 800px;
    padding: 80px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightpink;
}
.image{
    width: 60%;
    height: 700px;
    margin-top: 150px;
}
.section-right{
    background-color: rgb(79, 78, 78);
    height: 560px;
    width: 50%;
    color: white;
    padding: 50px;
    margin-top: 10px;
    
    
}
.section-right h3{
    font-size: 40px;
    margin-top: 0px;
    
    color: white;
}
.section-right textarea{
    height: 150px;
    width: 80%;
    text-align: justify;
    background-color: rgb(228, 159, 187);
}

button {
  width: 60px;
  height: 30px;
  margin-top: 30px;
  border-radius: 5px;

}
button:hover{
    background-color: lightpink;
}

