*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightpink;
}
html {
    scroll-behavior: smooth;
}
header{
    width: 100%;
    height: 80px;
    background-color: black;
    color: white;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 999;
    /* derm3 oy fixed nv ler ke */
}
header a {
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
        
}
nav{
    display: flex;
    padding-left: 60%;
}
nav li{
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav li a{
    text-decoration: none; 
    font-size: 20px;
    color: white;
    padding: 8px 15px;
    display: block;
}
nav li a:hover{
    /* background-color: rgba(255, 255, 255, 0.3); */
    color: red;
}

.dropdown{
    display: none;
    position: absolute;
    top: 100%;
    padding: 10px 18px;
    z-index: 2;
    
    
}
nav li a .home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
}
.dropdown li a{
    font-size: 20px;
    color: black;
    font-weight: bold;
    
    
}
nav li:hover .dropdown{
    background-color: rgba(255, 182, 193, 0.3);
    border-radius: 5px;
    display: block;
    border: 2px solid palevioletred;
    
    
}