.container-movie{
    width:100%;
    height: 250px;
    background-color: palevioletred;
    padding: 10px;
    
    
}
h1{
    color: black;
 
}

.scroll-movie{
    width: 100%;
    height: 250px;
    grid-auto-flow: column;
    display: grid;
    gap: 10px;
    overflow-x: auto;
    grid-auto-columns: 300px;
    
}
.scroll-movie::-webkit-scrollbar{
    display: none;
}
.card{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    background-color: lightpink;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}
.card img{
    width: 100%;
    height: 150px;
    border-radius: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease; 
}
.card:hover img{
    transform: scale(1.05);   /* slightly bigger */
}

.ep{
    font-size: 25px;
    color: white;
    top: 67%;
    left: 70%;
    font-weight: bold;
    position: absolute;
    
}
.text{
    font-size: 20px;
    text-align: center;
    padding: 10px;
    text-shadow: 5px 5px 5px gray;
    font-weight: bold;
    
} 
.class-link{
    text-decoration: none;
    color: black;
}